body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6161 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:1334px;
}
#u6162 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6163 {
  position:absolute;
  left:20px;
  top:156px;
  width:750px;
  height:80px;
}
#u6164 {
  position:absolute;
  left:2px;
  top:32px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6165 {
  position:absolute;
  left:75px;
  top:179px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6166 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6167 {
  position:absolute;
  left:20px;
  top:246px;
  width:750px;
  height:80px;
}
#u6168 {
  position:absolute;
  left:2px;
  top:32px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6169_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6169 {
  position:absolute;
  left:75px;
  top:269px;
  width:57px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6170 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u6171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:2px;
}
#u6171 {
  position:absolute;
  left:174px;
  top:314px;
  width:577px;
  height:1px;
}
#u6172 {
  position:absolute;
  left:2px;
  top:-8px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6173 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:80px;
}
#u6174 {
  position:absolute;
  left:2px;
  top:32px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6175_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u6175 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u6176 {
  position:absolute;
  left:0px;
  top:19px;
  width:750px;
  word-wrap:break-word;
}
#u6177 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6178_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:30px;
  height:30px;
}
#u6178 {
  position:absolute;
  left:40px;
  top:40px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6179 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6180_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:30px;
  height:30px;
}
#u6180 {
  position:absolute;
  left:40px;
  top:62px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6181 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:578px;
  height:2px;
}
#u6182 {
  position:absolute;
  left:174px;
  top:220px;
  width:577px;
  height:1px;
}
#u6183 {
  position:absolute;
  left:2px;
  top:-8px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u6184 {
  position:absolute;
  left:95px;
  top:839px;
  width:600px;
  height:80px;
  font-size:36px;
}
#u6185 {
  position:absolute;
  left:2px;
  top:19px;
  width:596px;
  word-wrap:break-word;
}
#u6186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u6186 {
  position:absolute;
  left:690px;
  top:180px;
  width:50px;
  height:32px;
}
#u6187 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:32px;
}
#u6188 {
  position:absolute;
  left:690px;
  top:270px;
  width:50px;
  height:32px;
}
#u6189 {
  position:absolute;
  left:2px;
  top:8px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
