body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1463px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1448px;
  height:368px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u3520 {
  position:absolute;
  left:15px;
  top:27px;
  width:1448px;
  height:368px;
  font-size:28px;
  color:#FFFFFF;
}
#u3521 {
  position:absolute;
  left:2px;
  top:2px;
  width:1444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:rgba(51, 51, 51, 0.8);
}
#u3522 {
  position:absolute;
  left:145px;
  top:130px;
  width:120px;
  height:20px;
  font-size:16px;
  color:rgba(51, 51, 51, 0.8);
}
#u3523 {
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:110px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3524 {
  position:absolute;
  left:23px;
  top:130px;
  width:112px;
  height:110px;
  font-size:20px;
}
#u3525 {
  position:absolute;
  left:2px;
  top:43px;
  width:108px;
  word-wrap:break-word;
}
#u3526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:71px;
}
#u3526 {
  position:absolute;
  left:1122px;
  top:36px;
  width:55px;
  height:70px;
}
#u3527 {
  position:absolute;
  left:2px;
  top:27px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3528 {
  position:absolute;
  left:1111px;
  top:106px;
  width:78px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3529 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u3530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:71px;
}
#u3530 {
  position:absolute;
  left:1237px;
  top:36px;
  width:55px;
  height:70px;
}
#u3531 {
  position:absolute;
  left:2px;
  top:27px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3532 {
  position:absolute;
  left:1225px;
  top:106px;
  width:78px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3533 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u3534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:71px;
}
#u3534 {
  position:absolute;
  left:1350px;
  top:36px;
  width:55px;
  height:70px;
}
#u3535 {
  position:absolute;
  left:2px;
  top:27px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3536_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3536 {
  position:absolute;
  left:1339px;
  top:106px;
  width:78px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u3537 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u3538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3538 {
  position:absolute;
  left:285px;
  top:130px;
  width:822px;
  height:20px;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3539 {
  position:absolute;
  left:0px;
  top:2px;
  width:822px;
  word-wrap:break-word;
}
#u3540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3540 {
  position:absolute;
  left:285px;
  top:160px;
  width:822px;
  height:20px;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3541 {
  position:absolute;
  left:0px;
  top:2px;
  width:822px;
  word-wrap:break-word;
}
#u3542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3542 {
  position:absolute;
  left:1254px;
  top:130px;
  width:20px;
  height:20px;
}
#u3543 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3544 {
  position:absolute;
  left:1368px;
  top:130px;
  width:20px;
  height:20px;
}
#u3545 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3546 {
  position:absolute;
  left:285px;
  top:190px;
  width:822px;
  height:20px;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3547 {
  position:absolute;
  left:0px;
  top:2px;
  width:822px;
  word-wrap:break-word;
}
#u3548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3548 {
  position:absolute;
  left:1140px;
  top:130px;
  width:20px;
  height:20px;
}
#u3549 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3550 {
  position:absolute;
  left:1254px;
  top:160px;
  width:20px;
  height:20px;
}
#u3551 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3552_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3552 {
  position:absolute;
  left:1368px;
  top:160px;
  width:20px;
  height:20px;
}
#u3553 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3554 {
  position:absolute;
  left:1140px;
  top:160px;
  width:20px;
  height:20px;
}
#u3555 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3556 {
  position:absolute;
  left:1254px;
  top:190px;
  width:20px;
  height:20px;
}
#u3557 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3558_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3558 {
  position:absolute;
  left:1368px;
  top:190px;
  width:20px;
  height:20px;
}
#u3559 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3560_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3560 {
  position:absolute;
  left:1140px;
  top:190px;
  width:20px;
  height:20px;
}
#u3561 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:822px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.8);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3562 {
  position:absolute;
  left:285px;
  top:220px;
  width:822px;
  height:20px;
  font-size:14px;
  color:rgba(51, 51, 51, 0.8);
}
#u3563 {
  position:absolute;
  left:0px;
  top:2px;
  width:822px;
  word-wrap:break-word;
}
#u3564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:rgba(51, 51, 51, 0.8);
}
#u3564 {
  position:absolute;
  left:145px;
  top:160px;
  width:120px;
  height:20px;
  font-size:16px;
  color:rgba(51, 51, 51, 0.8);
}
#u3565 {
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:rgba(51, 51, 51, 0.8);
}
#u3566 {
  position:absolute;
  left:145px;
  top:190px;
  width:120px;
  height:20px;
  font-size:16px;
  color:rgba(51, 51, 51, 0.8);
}
#u3567 {
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  color:#FF0000;
}
#u3568 {
  position:absolute;
  left:82px;
  top:405px;
  width:540px;
  height:150px;
  color:#FF0000;
}
#u3569 {
  position:absolute;
  left:10px;
  top:10px;
  width:520px;
  word-wrap:break-word;
}
#u3570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8);
}
#u3570 {
  position:absolute;
  left:145px;
  top:220px;
  width:120px;
  height:20px;
  font-size:16px;
  color:rgba(0, 0, 0, 0.8);
}
#u3571 {
  position:absolute;
  left:2px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u3572_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3572 {
  position:absolute;
  left:1254px;
  top:220px;
  width:20px;
  height:20px;
}
#u3573 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3574 {
  position:absolute;
  left:1368px;
  top:220px;
  width:20px;
  height:20px;
}
#u3575 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u3576 {
  position:absolute;
  left:1140px;
  top:220px;
  width:20px;
  height:20px;
}
#u3577 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
