body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5188 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:1334px;
}
#u5189 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u5190 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u5191 {
  position:absolute;
  left:0px;
  top:19px;
  width:750px;
  word-wrap:break-word;
}
#u5192 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5193_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:30px;
  height:30px;
}
#u5193 {
  position:absolute;
  left:40px;
  top:40px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5194 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5195_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:30px;
  height:30px;
}
#u5195 {
  position:absolute;
  left:40px;
  top:62px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5196 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u5197 {
  position:absolute;
  left:20px;
  top:1264px;
  width:750px;
  height:90px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u5198 {
  position:absolute;
  left:2px;
  top:24px;
  width:746px;
  word-wrap:break-word;
}
#u5199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5199 {
  position:absolute;
  left:40px;
  top:133px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5200 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5201 {
  position:absolute;
  left:507px;
  top:132px;
  width:217px;
  height:25px;
}
#u5201_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5202_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5202 {
  position:absolute;
  left:40px;
  top:185px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5203 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u5204 {
  position:absolute;
  left:507px;
  top:184px;
  width:217px;
  height:25px;
}
#u5204_input {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
