body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1633px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8227 {
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:1000px;
}
#u8228 {
  position:absolute;
  left:2px;
  top:492px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:925px;
}
#u8229 {
  position:absolute;
  left:27px;
  top:85px;
  width:234px;
  height:925px;
}
#u8230 {
  position:absolute;
  left:2px;
  top:454px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8231 {
  position:absolute;
  left:1380px;
  top:23px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u8232 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u8233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8233 {
  position:absolute;
  left:1572px;
  top:23px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u8234 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8235_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:105px;
  height:31px;
}
#u8235 {
  position:absolute;
  left:1458px;
  top:33px;
  width:90px;
  height:5px;
}
#u8236 {
  position:absolute;
  left:2px;
  top:-6px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8237 {
  position:absolute;
  left:1481px;
  top:48px;
  width:61px;
  height:24px;
  font-size:20px;
}
#u8238 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u8239 {
  position:absolute;
  left:60px;
  top:10px;
  width:607px;
  height:84px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u8240 {
  position:absolute;
  left:0px;
  top:14px;
  width:607px;
  word-wrap:break-word;
}
#u8241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:50px;
}
#u8241 {
  position:absolute;
  left:261px;
  top:85px;
  width:1189px;
  height:50px;
}
#u8242 {
  position:absolute;
  left:2px;
  top:17px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8243 {
  position:absolute;
  left:289px;
  top:174px;
  width:96px;
  height:40px;
  font-size:18px;
}
#u8244 {
  position:absolute;
  left:0px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u8245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u8245 {
  position:absolute;
  left:1331px;
  top:174px;
  width:90px;
  height:40px;
  font-size:20px;
}
#u8246 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u8247_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1182px;
  height:5px;
}
#u8247 {
  position:absolute;
  left:271px;
  top:224px;
  width:1179px;
  height:2px;
}
#u8248 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u8249 {
  position:absolute;
  left:349px;
  top:174px;
  width:256px;
  height:40px;
  font-size:18px;
}
#u8250 {
  position:absolute;
  left:2px;
  top:9px;
  width:252px;
  word-wrap:break-word;
}
#u8251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8251 {
  position:absolute;
  left:662px;
  top:174px;
  width:96px;
  height:40px;
  font-size:18px;
}
#u8252 {
  position:absolute;
  left:0px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u8253 {
  position:absolute;
  left:758px;
  top:174px;
  width:167px;
  height:40px;
}
#u8253_input {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#000000;
}
#u8253_input:disabled {
  color:grayText;
}
#u8254_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1073px;
  height:411px;
}
#u8254 {
  position:absolute;
  left:349px;
  top:300px;
  width:1072px;
  height:410px;
  font-size:36px;
}
#u8255 {
  position:absolute;
  left:2px;
  top:184px;
  width:1068px;
  word-wrap:break-word;
}
#u8256_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8256 {
  position:absolute;
  left:48px;
  top:153px;
  width:136px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u8257 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u8258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u8258 {
  position:absolute;
  left:48px;
  top:880px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u8259 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u8260 {
  position:absolute;
  left:48px;
  top:923px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u8261 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8262_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u8262 {
  position:absolute;
  left:48px;
  top:966px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u8263 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u8264 {
  position:absolute;
  left:48px;
  top:110px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u8265 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u8266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u8266 {
  position:absolute;
  left:55px;
  top:196px;
  width:136px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u8267 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8268 {
  position:absolute;
  left:55px;
  top:236px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8269 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8270 {
  position:absolute;
  left:55px;
  top:276px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8271 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8272 {
  position:absolute;
  left:55px;
  top:316px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8273 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8274 {
  position:absolute;
  left:55px;
  top:356px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8275 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8276 {
  position:absolute;
  left:55px;
  top:396px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8277 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8278 {
  position:absolute;
  left:55px;
  top:436px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8279 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8280 {
  position:absolute;
  left:55px;
  top:476px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8281 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8282_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8282 {
  position:absolute;
  left:55px;
  top:516px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8283 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8284 {
  position:absolute;
  left:55px;
  top:556px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8285 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8286 {
  position:absolute;
  left:55px;
  top:596px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8287 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8288 {
  position:absolute;
  left:55px;
  top:636px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8289 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8290 {
  position:absolute;
  left:55px;
  top:676px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8291 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8292 {
  position:absolute;
  left:55px;
  top:716px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8293 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8294 {
  position:absolute;
  left:55px;
  top:756px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8295 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8296 {
  position:absolute;
  left:55px;
  top:796px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8297 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u8298 {
  position:absolute;
  left:55px;
  top:836px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u8299 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u8300 {
  position:absolute;
  left:289px;
  top:95px;
  width:1000px;
  height:40px;
}
#u8300_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:1006px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8301 {
  position:absolute;
  left:0px;
  top:0px;
  width:1005px;
  height:45px;
}
#u8302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8302 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u8303 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8304 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:40px;
  font-size:24px;
}
#u8305 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8306 {
  position:absolute;
  left:400px;
  top:0px;
  width:200px;
  height:40px;
  font-size:24px;
}
#u8307 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8308 {
  position:absolute;
  left:600px;
  top:0px;
  width:200px;
  height:40px;
  font-size:24px;
}
#u8309 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8310 {
  position:absolute;
  left:800px;
  top:0px;
  width:200px;
  height:40px;
  font-size:24px;
}
#u8311 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8312 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:80px;
  visibility:hidden;
}
#u8312_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:86px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8313 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:85px;
}
#u8314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8314 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:20px;
}
#u8315 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u8316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8316 {
  position:absolute;
  left:0px;
  top:40px;
  width:200px;
  height:40px;
  font-size:20px;
}
#u8317 {
  position:absolute;
  left:2px;
  top:8px;
  width:196px;
  word-wrap:break-word;
}
#u8318 {
  position:absolute;
  left:400px;
  top:40px;
  width:200px;
  height:40px;
  visibility:hidden;
}
#u8318_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8319 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u8320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8320 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:24px;
}
#u8321 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u8322 {
  position:absolute;
  left:600px;
  top:40px;
  width:200px;
  height:40px;
  visibility:hidden;
}
#u8322_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:206px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u8323 {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:45px;
}
#u8324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u8324 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:24px;
}
#u8325 {
  position:absolute;
  left:2px;
  top:12px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8326_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u8326 {
  position:absolute;
  left:289px;
  top:145px;
  width:239px;
  height:22px;
  font-size:18px;
}
#u8327 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
