body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1620px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u14863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14863 {
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:1000px;
}
#u14864 {
  position:absolute;
  left:2px;
  top:492px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:925px;
}
#u14865 {
  position:absolute;
  left:27px;
  top:85px;
  width:234px;
  height:925px;
}
#u14866 {
  position:absolute;
  left:2px;
  top:454px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u14867 {
  position:absolute;
  left:1380px;
  top:23px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u14868 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u14869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u14869 {
  position:absolute;
  left:60px;
  top:10px;
  width:607px;
  height:84px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u14870 {
  position:absolute;
  left:0px;
  top:14px;
  width:607px;
  word-wrap:break-word;
}
#u14871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14871 {
  position:absolute;
  left:48px;
  top:153px;
  width:136px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u14872 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u14873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u14873 {
  position:absolute;
  left:48px;
  top:880px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u14874 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u14875 {
  position:absolute;
  left:48px;
  top:923px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u14876 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u14877 {
  position:absolute;
  left:48px;
  top:966px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u14878 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u14879 {
  position:absolute;
  left:48px;
  top:110px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u14880 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u14881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:50px;
}
#u14881 {
  position:absolute;
  left:261px;
  top:85px;
  width:1189px;
  height:50px;
}
#u14882 {
  position:absolute;
  left:2px;
  top:17px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14883 {
  position:absolute;
  left:55px;
  top:196px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14884 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14885 {
  position:absolute;
  left:55px;
  top:236px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14886 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14887 {
  position:absolute;
  left:55px;
  top:276px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14888 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u14889 {
  position:absolute;
  left:55px;
  top:316px;
  width:136px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:center;
}
#u14890 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14891 {
  position:absolute;
  left:55px;
  top:356px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14892 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14893 {
  position:absolute;
  left:55px;
  top:396px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14894 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14895 {
  position:absolute;
  left:55px;
  top:436px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14896 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14897 {
  position:absolute;
  left:55px;
  top:476px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14898 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14899 {
  position:absolute;
  left:55px;
  top:516px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14900 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14901_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14901 {
  position:absolute;
  left:55px;
  top:556px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14902 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14903 {
  position:absolute;
  left:55px;
  top:596px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14904 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14905 {
  position:absolute;
  left:55px;
  top:636px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14906 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14907 {
  position:absolute;
  left:55px;
  top:676px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14908 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14909 {
  position:absolute;
  left:55px;
  top:716px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14910 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14911 {
  position:absolute;
  left:55px;
  top:756px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14912 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14913_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14913 {
  position:absolute;
  left:55px;
  top:796px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14914 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14915_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
  text-align:center;
}
#u14915 {
  position:absolute;
  left:55px;
  top:836px;
  width:136px;
  height:40px;
  font-size:24px;
  text-align:center;
}
#u14916 {
  position:absolute;
  left:0px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u14917 {
  position:absolute;
  left:289px;
  top:95px;
  width:400px;
  height:40px;
}
#u14917_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:406px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u14918 {
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:45px;
}
#u14919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14919 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
  font-size:24px;
}
#u14920 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u14921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u14921 {
  position:absolute;
  left:200px;
  top:0px;
  width:200px;
  height:40px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u14922 {
  position:absolute;
  left:2px;
  top:6px;
  width:196px;
  word-wrap:break-word;
}
#u14923_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#FF3366;
}
#u14923 {
  position:absolute;
  left:1491px;
  top:17px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  text-decoration:underline;
  color:#FF3366;
}
#u14924 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u14925_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:1182px;
  height:5px;
}
#u14925 {
  position:absolute;
  left:281px;
  top:194px;
  width:1179px;
  height:2px;
}
#u14926 {
  position:absolute;
  left:2px;
  top:-7px;
  width:1175px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1129px;
  height:2px;
}
#u14927 {
  position:absolute;
  left:332px;
  top:246px;
  width:1128px;
  height:1px;
}
#u14928 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14929 {
  position:absolute;
  left:299px;
  top:155px;
  width:156px;
  height:22px;
  font-size:18px;
}
#u14930 {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  white-space:nowrap;
}
#u14931 {
  position:absolute;
  left:299px;
  top:206px;
  width:352px;
  height:49px;
  overflow:hidden;
}
#u14931_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14931_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14932 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  font-size:18px;
}
#u14933 {
  position:absolute;
  left:0px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u14934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u14934 {
  position:absolute;
  left:60px;
  top:0px;
  width:256px;
  height:40px;
  font-size:18px;
}
#u14935 {
  position:absolute;
  left:2px;
  top:9px;
  width:252px;
  word-wrap:break-word;
}
#u14931_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:49px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u14931_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14936 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
  font-size:18px;
}
#u14937 {
  position:absolute;
  left:0px;
  top:9px;
  width:96px;
  word-wrap:break-word;
}
#u14938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:41px;
}
#u14938 {
  position:absolute;
  left:60px;
  top:0px;
  width:256px;
  height:40px;
  font-size:18px;
}
#u14939 {
  position:absolute;
  left:2px;
  top:9px;
  width:252px;
  word-wrap:break-word;
}
#u14940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14940 {
  position:absolute;
  left:348px;
  top:0px;
  width:83px;
  height:40px;
  font-size:18px;
}
#u14941 {
  position:absolute;
  left:0px;
  top:9px;
  width:83px;
  word-wrap:break-word;
}
#u14942 {
  position:absolute;
  left:415px;
  top:0px;
  width:76px;
  height:40px;
}
#u14942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14943_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14943 {
  position:absolute;
  left:523px;
  top:0px;
  width:87px;
  height:40px;
  font-size:18px;
}
#u14944 {
  position:absolute;
  left:0px;
  top:9px;
  width:87px;
  word-wrap:break-word;
}
#u14945 {
  position:absolute;
  left:591px;
  top:0px;
  width:131px;
  height:40px;
}
#u14945_input {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u14946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u14946 {
  position:absolute;
  left:1331px;
  top:207px;
  width:90px;
  height:40px;
  font-size:20px;
}
#u14947 {
  position:absolute;
  left:2px;
  top:8px;
  width:86px;
  word-wrap:break-word;
}
#u14948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:237px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u14948 {
  position:absolute;
  left:650px;
  top:729px;
  width:604px;
  height:237px;
  font-size:16px;
}
#u14949 {
  position:absolute;
  left:10px;
  top:10px;
  width:584px;
  word-wrap:break-word;
}
#u14950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  text-align:center;
}
#u14950 {
  position:absolute;
  left:896px;
  top:206px;
  width:94px;
  height:40px;
  font-size:18px;
  text-align:center;
}
#u14951 {
  position:absolute;
  left:0px;
  top:9px;
  width:94px;
  word-wrap:break-word;
}
#u14952 {
  position:absolute;
  left:990px;
  top:206px;
  width:120px;
  height:40px;
}
#u14952_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
