body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5696 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:1334px;
}
#u5697 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5698 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5699_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5699 {
  position:absolute;
  left:20px;
  top:1254px;
  width:750px;
  height:100px;
}
#u5700 {
  position:absolute;
  left:2px;
  top:42px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5701 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5702 {
  position:absolute;
  left:100px;
  top:1263px;
  width:50px;
  height:50px;
}
#u5703 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5704_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5704 {
  position:absolute;
  left:106px;
  top:1323px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5705 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5706 {
  position:absolute;
  left:273px;
  top:1263px;
  width:50px;
  height:50px;
}
#u5707 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5708 {
  position:absolute;
  left:262px;
  top:1323px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5709 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u5710 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5711 {
  position:absolute;
  left:447px;
  top:1263px;
  width:50px;
  height:50px;
}
#u5712 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5713_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5713 {
  position:absolute;
  left:453px;
  top:1323px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5714 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5715 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u5716 {
  position:absolute;
  left:620px;
  top:1263px;
  width:50px;
  height:50px;
}
#u5717 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5718 {
  position:absolute;
  left:626px;
  top:1323px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u5719 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u5720 {
  position:absolute;
  left:100px;
  top:1263px;
  width:50px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5721 {
  position:absolute;
  left:273px;
  top:1263px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5722 {
  position:absolute;
  left:447px;
  top:1263px;
  width:50px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5723 {
  position:absolute;
  left:620px;
  top:1263px;
  width:50px;
  height:82px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:1235px;
}
#u5724 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:1234px;
  font-size:36px;
}
#u5725 {
  position:absolute;
  left:2px;
  top:596px;
  width:746px;
  word-wrap:break-word;
}
