body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:770px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5343 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:1334px;
}
#u5344 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5345_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u5345 {
  position:absolute;
  left:20px;
  top:20px;
  width:750px;
  height:80px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  text-align:center;
}
#u5346 {
  position:absolute;
  left:0px;
  top:19px;
  width:750px;
  word-wrap:break-word;
}
#u5347 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5348_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:30px;
  height:30px;
}
#u5348 {
  position:absolute;
  left:40px;
  top:40px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5349 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5350_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:30px;
  height:30px;
}
#u5350 {
  position:absolute;
  left:40px;
  top:62px;
  width:25px;
  height:25px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5351 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5352 {
  position:absolute;
  left:20px;
  top:123px;
  width:750px;
  height:90px;
}
#u5353 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5354 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5355_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:18px;
}
#u5355 {
  position:absolute;
  left:714px;
  top:153px;
  width:18px;
  height:15px;
}
#u5356 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5357_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:18px;
}
#u5357 {
  position:absolute;
  left:714px;
  top:168px;
  width:18px;
  height:15px;
}
#u5358 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5359 {
  position:absolute;
  left:40px;
  top:140px;
  width:307px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5360 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u5361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5361 {
  position:absolute;
  left:40px;
  top:180px;
  width:135px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5362 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u5363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5363 {
  position:absolute;
  left:347px;
  top:143px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5364 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:90px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5365 {
  position:absolute;
  left:20px;
  top:233px;
  width:750px;
  height:90px;
}
#u5366 {
  position:absolute;
  left:2px;
  top:37px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5367 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5368_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:18px;
}
#u5368 {
  position:absolute;
  left:714px;
  top:263px;
  width:18px;
  height:15px;
}
#u5369 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5370_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:21px;
  height:18px;
}
#u5370 {
  position:absolute;
  left:714px;
  top:278px;
  width:18px;
  height:15px;
}
#u5371 {
  position:absolute;
  left:2px;
  top:0px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5372_div {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5372 {
  position:absolute;
  left:40px;
  top:250px;
  width:307px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u5373 {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  white-space:nowrap;
}
#u5374_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5374 {
  position:absolute;
  left:40px;
  top:290px;
  width:135px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5375 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u5376_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5376 {
  position:absolute;
  left:347px;
  top:253px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u5377 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
