body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1678px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1668px;
  height:456px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1628 {
  position:absolute;
  left:10px;
  top:1049px;
  width:1668px;
  height:456px;
}
#u1629 {
  position:absolute;
  left:2px;
  top:220px;
  width:1664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1630 {
  position:absolute;
  left:22px;
  top:1067px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1631 {
  position:absolute;
  left:2px;
  top:38px;
  width:166px;
  word-wrap:break-word;
}
#u1632_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:211px;
  height:31px;
}
#u1632 {
  position:absolute;
  left:192px;
  top:1103px;
  width:196px;
  height:5px;
}
#u1633 {
  position:absolute;
  left:2px;
  top:-6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1634 {
  position:absolute;
  left:202px;
  top:1077px;
  width:169px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1635 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1636 {
  position:absolute;
  left:388px;
  top:1067px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1637 {
  position:absolute;
  left:2px;
  top:38px;
  width:166px;
  word-wrap:break-word;
}
#u1638_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:211px;
  height:31px;
}
#u1638 {
  position:absolute;
  left:558px;
  top:1103px;
  width:196px;
  height:5px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:-6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1640_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:107px;
  height:31px;
}
#u1640 {
  position:absolute;
  left:61px;
  top:1263px;
  width:92px;
  height:5px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1641 {
  position:absolute;
  left:2px;
  top:-6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1642 {
  position:absolute;
  left:22px;
  top:1312px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1643 {
  position:absolute;
  left:2px;
  top:48px;
  width:166px;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1644 {
  position:absolute;
  left:120px;
  top:1247px;
  width:190px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1645 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1646 {
  position:absolute;
  left:202px;
  top:1118px;
  width:169px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1647 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1648_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1648 {
  position:absolute;
  left:1067px;
  top:1312px;
  width:503px;
  height:190px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1649 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1668px;
  height:456px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  position:absolute;
  left:10px;
  top:548px;
  width:1668px;
  height:456px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:220px;
  width:1664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1652 {
  position:absolute;
  left:22px;
  top:566px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1653 {
  position:absolute;
  left:2px;
  top:38px;
  width:166px;
  word-wrap:break-word;
}
#u1654_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:211px;
  height:31px;
}
#u1654 {
  position:absolute;
  left:192px;
  top:602px;
  width:196px;
  height:5px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:-6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1656_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1656 {
  position:absolute;
  left:202px;
  top:576px;
  width:169px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1657 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1658_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1658 {
  position:absolute;
  left:388px;
  top:566px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1659 {
  position:absolute;
  left:2px;
  top:38px;
  width:166px;
  word-wrap:break-word;
}
#u1660_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:211px;
  height:31px;
}
#u1660 {
  position:absolute;
  left:558px;
  top:602px;
  width:196px;
  height:5px;
}
#u1661 {
  position:absolute;
  left:2px;
  top:-6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1662 {
  position:absolute;
  left:754px;
  top:566px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1663 {
  position:absolute;
  left:2px;
  top:57px;
  width:166px;
  word-wrap:break-word;
}
#u1664_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:107px;
  height:31px;
}
#u1664 {
  position:absolute;
  left:61px;
  top:762px;
  width:92px;
  height:5px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u1665 {
  position:absolute;
  left:2px;
  top:-6px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1666_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1666 {
  position:absolute;
  left:22px;
  top:811px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1667 {
  position:absolute;
  left:2px;
  top:57px;
  width:166px;
  word-wrap:break-word;
}
#u1668_div {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1668 {
  position:absolute;
  left:120px;
  top:746px;
  width:190px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1669 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  word-wrap:break-word;
}
#u1670_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1670 {
  position:absolute;
  left:202px;
  top:617px;
  width:169px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1671 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u1672_div {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  height:190px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1672 {
  position:absolute;
  left:1054px;
  top:792px;
  width:503px;
  height:190px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1673 {
  position:absolute;
  left:0px;
  top:0px;
  width:503px;
  word-wrap:break-word;
}
#u1674_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:211px;
  height:31px;
}
#u1674 {
  position:absolute;
  left:924px;
  top:1103px;
  width:196px;
  height:5px;
}
#u1675 {
  position:absolute;
  left:2px;
  top:-6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1676 {
  position:absolute;
  left:1120px;
  top:1067px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1677 {
  position:absolute;
  left:2px;
  top:38px;
  width:166px;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:211px;
  height:31px;
}
#u1678 {
  position:absolute;
  left:924px;
  top:602px;
  width:196px;
  height:5px;
}
#u1679 {
  position:absolute;
  left:2px;
  top:-6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1680 {
  position:absolute;
  left:1120px;
  top:566px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1681 {
  position:absolute;
  left:2px;
  top:57px;
  width:166px;
  word-wrap:break-word;
}
#u1682_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:211px;
  height:31px;
}
#u1682 {
  position:absolute;
  left:1290px;
  top:602px;
  width:196px;
  height:5px;
}
#u1683 {
  position:absolute;
  left:2px;
  top:-6px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1684 {
  position:absolute;
  left:1486px;
  top:566px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1685 {
  position:absolute;
  left:2px;
  top:66px;
  width:166px;
  word-wrap:break-word;
}
#u1686_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1668px;
  height:410px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1686 {
  position:absolute;
  left:10px;
  top:10px;
  width:1668px;
  height:410px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:197px;
  width:1664px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1688 {
  position:absolute;
  left:52px;
  top:27px;
  width:467px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1689 {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  white-space:nowrap;
}
#u1690_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:115px;
  height:31px;
}
#u1690 {
  position:absolute;
  left:426px;
  top:144px;
  width:100px;
  height:5px;
}
#u1691 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:115px;
  height:31px;
}
#u1692 {
  position:absolute;
  left:226px;
  top:144px;
  width:100px;
  height:5px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1694 {
  position:absolute;
  left:126px;
  top:111px;
  width:100px;
  height:72px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1696 {
  position:absolute;
  left:451px;
  top:118px;
  width:38px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1697 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
}
#u1698 {
  position:absolute;
  left:530px;
  top:285px;
  width:100px;
  height:72px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1700 {
  position:absolute;
  left:730px;
  top:286px;
  width:100px;
  height:72px;
}
#u1701 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1702 {
  position:absolute;
  left:640px;
  top:293px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1703 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:115px;
}
#u1704 {
  position:absolute;
  left:577px;
  top:183px;
  width:5px;
  height:100px;
}
#u1705 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1706_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1706 {
  position:absolute;
  left:36px;
  top:193px;
  width:63px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1707 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1708_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1708 {
  position:absolute;
  left:326px;
  top:111px;
  width:100px;
  height:72px;
}
#u1709 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1710_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1710 {
  position:absolute;
  left:529px;
  top:111px;
  width:100px;
  height:72px;
}
#u1711 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:73px;
}
#u1712 {
  position:absolute;
  left:36px;
  top:111px;
  width:63px;
  height:72px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:28px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:73px;
}
#u1714 {
  position:absolute;
  left:36px;
  top:285px;
  width:63px;
  height:72px;
}
#u1715 {
  position:absolute;
  left:2px;
  top:28px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_div {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1716 {
  position:absolute;
  left:36px;
  top:367px;
  width:63px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u1717 {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:115px;
  height:31px;
}
#u1718 {
  position:absolute;
  left:630px;
  top:319px;
  width:100px;
  height:5px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
}
#u1720 {
  position:absolute;
  left:1330px;
  top:286px;
  width:100px;
  height:72px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1722_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1722 {
  position:absolute;
  left:840px;
  top:293px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1723 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:115px;
  height:31px;
}
#u1724 {
  position:absolute;
  left:830px;
  top:319px;
  width:100px;
  height:5px;
}
#u1725 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_div {
  position:absolute;
  left:0px;
  top:0px;
  width:624px;
  height:151px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1726 {
  position:absolute;
  left:22px;
  top:74px;
  width:624px;
  height:151px;
  font-size:16px;
  text-align:left;
}
#u1727 {
  position:absolute;
  left:2px;
  top:68px;
  width:620px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
}
#u1728 {
  position:absolute;
  left:930px;
  top:285px;
  width:100px;
  height:72px;
}
#u1729 {
  position:absolute;
  left:2px;
  top:28px;
  width:96px;
  word-wrap:break-word;
}
#u1730_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1730 {
  position:absolute;
  left:1040px;
  top:293px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1731 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1732_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:115px;
  height:31px;
}
#u1732 {
  position:absolute;
  left:1030px;
  top:319px;
  width:100px;
  height:5px;
}
#u1733 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:115px;
  height:31px;
}
#u1734 {
  position:absolute;
  left:1230px;
  top:319px;
  width:100px;
  height:5px;
}
#u1735 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1736 {
  position:absolute;
  left:1129px;
  top:286px;
  width:100px;
  height:72px;
}
#u1737 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1738_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:115px;
  height:31px;
}
#u1738 {
  position:absolute;
  left:1430px;
  top:319px;
  width:100px;
  height:5px;
}
#u1739 {
  position:absolute;
  left:2px;
  top:-6px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1740 {
  position:absolute;
  left:1530px;
  top:286px;
  width:100px;
  height:72px;
}
#u1741 {
  position:absolute;
  left:2px;
  top:20px;
  width:96px;
  word-wrap:break-word;
}
#u1742_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:623px;
  height:47px;
}
#u1742 {
  position:absolute;
  left:978px;
  top:358px;
  width:608px;
  height:31px;
}
#u1743 {
  position:absolute;
  left:2px;
  top:8px;
  width:604px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1744 {
  position:absolute;
  left:1230px;
  top:366px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1745 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1746_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1746 {
  position:absolute;
  left:1440px;
  top:293px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1747 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1748_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:229px;
  height:47px;
}
#u1748 {
  position:absolute;
  left:1166px;
  top:254px;
  width:213px;
  height:32px;
}
#u1749 {
  position:absolute;
  left:2px;
  top:8px;
  width:209px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1750 {
  position:absolute;
  left:1237px;
  top:262px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u1751 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  word-wrap:break-word;
}
#u1752_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1634px;
  height:159px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.4);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1752 {
  position:absolute;
  left:22px;
  top:243px;
  width:1634px;
  height:159px;
  font-size:16px;
  text-align:left;
}
#u1753 {
  position:absolute;
  left:2px;
  top:72px;
  width:1630px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_div {
  position:absolute;
  left:0px;
  top:0px;
  width:499px;
  height:146px;
  background:inherit;
  background-color:rgba(255, 223, 37, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-size:16px;
}
#u1754 {
  position:absolute;
  left:1157px;
  top:61px;
  width:499px;
  height:146px;
  font-size:16px;
}
#u1755 {
  position:absolute;
  left:10px;
  top:10px;
  width:479px;
  word-wrap:break-word;
}
#u1756_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:152px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-align:left;
}
#u1756 {
  position:absolute;
  left:754px;
  top:1067px;
  width:170px;
  height:152px;
  font-size:16px;
  text-align:left;
}
#u1757 {
  position:absolute;
  left:2px;
  top:66px;
  width:166px;
  word-wrap:break-word;
}
#u1758_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1758 {
  position:absolute;
  left:801px;
  top:835px;
  width:243px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
#u1760_div {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1760 {
  position:absolute;
  left:801px;
  top:1378px;
  width:243px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1761 {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  white-space:nowrap;
}
