body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1350px;
  height:1300px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
}
#u498 {
  position:absolute;
  left:10px;
  top:10px;
  width:1350px;
  height:1300px;
  font-size:28px;
  color:#FFFFFF;
}
#u499 {
  position:absolute;
  left:2px;
  top:2px;
  width:1346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u500 {
  position:absolute;
  left:132px;
  top:152px;
  width:111px;
  height:5px;
}
#u501 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
}
#u502 {
  position:absolute;
  left:705px;
  top:405px;
  width:120px;
  height:72px;
}
#u503 {
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u504 {
  position:absolute;
  left:715px;
  top:126px;
  width:545px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u505 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  word-wrap:break-word;
}
#u506_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:71px;
}
#u506 {
  position:absolute;
  left:57px;
  top:109px;
  width:55px;
  height:70px;
}
#u507 {
  position:absolute;
  left:2px;
  top:27px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u508_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u508 {
  position:absolute;
  left:46px;
  top:179px;
  width:78px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u509 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u510_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u510 {
  position:absolute;
  left:57px;
  top:21px;
  width:225px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u511 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u512_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u512 {
  position:absolute;
  left:243px;
  top:119px;
  width:120px;
  height:72px;
}
#u513 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u514_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u514 {
  position:absolute;
  left:363px;
  top:152px;
  width:111px;
  height:5px;
}
#u515 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u516 {
  position:absolute;
  left:474px;
  top:119px;
  width:120px;
  height:72px;
}
#u517 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u518_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u518 {
  position:absolute;
  left:594px;
  top:152px;
  width:111px;
  height:5px;
}
#u519 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u520 {
  position:absolute;
  left:57px;
  top:68px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u521 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u522_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u522 {
  position:absolute;
  left:132px;
  top:277px;
  width:111px;
  height:5px;
}
#u523 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u524 {
  position:absolute;
  left:715px;
  top:261px;
  width:545px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u525 {
  position:absolute;
  left:0px;
  top:0px;
  width:545px;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:71px;
}
#u526 {
  position:absolute;
  left:57px;
  top:234px;
  width:55px;
  height:70px;
}
#u527 {
  position:absolute;
  left:2px;
  top:27px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u528 {
  position:absolute;
  left:46px;
  top:304px;
  width:78px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u530 {
  position:absolute;
  left:243px;
  top:244px;
  width:120px;
  height:72px;
}
#u531 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u532_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u532 {
  position:absolute;
  left:363px;
  top:277px;
  width:111px;
  height:5px;
}
#u533 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  position:absolute;
  left:474px;
  top:244px;
  width:120px;
  height:72px;
}
#u535 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u536_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u536 {
  position:absolute;
  left:594px;
  top:277px;
  width:111px;
  height:5px;
}
#u537 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u538 {
  position:absolute;
  left:379px;
  top:126px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u539 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u540 {
  position:absolute;
  left:379px;
  top:251px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u541 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u542_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u542 {
  position:absolute;
  left:132px;
  top:438px;
  width:111px;
  height:5px;
}
#u543 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:71px;
}
#u544 {
  position:absolute;
  left:57px;
  top:395px;
  width:55px;
  height:70px;
}
#u545 {
  position:absolute;
  left:2px;
  top:27px;
  width:51px;
  visibility:hidden;
  word-wrap:break-word;
}
#u546_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u546 {
  position:absolute;
  left:46px;
  top:465px;
  width:78px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  word-wrap:break-word;
}
#u548_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u548 {
  position:absolute;
  left:243px;
  top:405px;
  width:120px;
  height:72px;
}
#u549 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u550_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u550 {
  position:absolute;
  left:363px;
  top:438px;
  width:111px;
  height:5px;
}
#u551 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u552 {
  position:absolute;
  left:379px;
  top:396px;
  width:79px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u553 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:625px;
  height:222px;
  background:inherit;
  background-color:rgba(54, 169, 206, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u554 {
  position:absolute;
  left:705px;
  top:763px;
  width:625px;
  height:222px;
}
#u555 {
  position:absolute;
  left:10px;
  top:10px;
  width:605px;
  word-wrap:break-word;
}
#u556_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u556 {
  position:absolute;
  left:825px;
  top:438px;
  width:111px;
  height:5px;
}
#u557 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u558 {
  position:absolute;
  left:841px;
  top:412px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u559 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u560 {
  position:absolute;
  left:1177px;
  top:429px;
  width:153px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u561 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u562_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u562 {
  position:absolute;
  left:1056px;
  top:438px;
  width:111px;
  height:5px;
}
#u563 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
}
#u564 {
  position:absolute;
  left:936px;
  top:405px;
  width:120px;
  height:72px;
}
#u565 {
  position:absolute;
  left:2px;
  top:20px;
  width:116px;
  word-wrap:break-word;
}
#u566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u566 {
  position:absolute;
  left:1072px;
  top:412px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u567 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u568_img {
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:65px;
}
#u568 {
  position:absolute;
  left:994px;
  top:477px;
  width:5px;
  height:50px;
}
#u569 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u570 {
  position:absolute;
  left:999px;
  top:487px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u571 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u572_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u572 {
  position:absolute;
  left:1056px;
  top:560px;
  width:111px;
  height:5px;
}
#u573 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u574 {
  position:absolute;
  left:1072px;
  top:534px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u575 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u576_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:147px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u576 {
  position:absolute;
  left:1177px;
  top:544px;
  width:153px;
  height:147px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFF00;
}
#u577 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  word-wrap:break-word;
}
#u578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u578 {
  position:absolute;
  left:936px;
  top:527px;
  width:120px;
  height:72px;
}
#u579 {
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u580_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:72px;
}
#u580 {
  position:absolute;
  left:474px;
  top:405px;
  width:120px;
  height:72px;
}
#u581 {
  position:absolute;
  left:2px;
  top:28px;
  width:116px;
  word-wrap:break-word;
}
#u582_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:126px;
  height:31px;
}
#u582 {
  position:absolute;
  left:594px;
  top:438px;
  width:111px;
  height:5px;
}
#u583 {
  position:absolute;
  left:2px;
  top:-6px;
  width:107px;
  visibility:hidden;
  word-wrap:break-word;
}
#u584_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u584 {
  position:absolute;
  left:610px;
  top:412px;
  width:79px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u585 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1310px;
  height:343px;
  background:inherit;
  background-color:rgba(51, 51, 51, 0.498039215686275);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u586 {
  position:absolute;
  left:38px;
  top:363px;
  width:1310px;
  height:343px;
}
#u587 {
  position:absolute;
  left:2px;
  top:164px;
  width:1306px;
  visibility:hidden;
  word-wrap:break-word;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u588 {
  position:absolute;
  left:57px;
  top:633px;
  width:558px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u589 {
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  word-wrap:break-word;
}
