body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1450px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1000px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6552 {
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:1000px;
}
#u6553 {
  position:absolute;
  left:2px;
  top:492px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6554_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:925px;
}
#u6554 {
  position:absolute;
  left:27px;
  top:85px;
  width:234px;
  height:925px;
}
#u6555 {
  position:absolute;
  left:2px;
  top:454px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u6556 {
  position:absolute;
  left:1380px;
  top:23px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u6557 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u6558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u6558 {
  position:absolute;
  left:60px;
  top:10px;
  width:607px;
  height:84px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:48px;
}
#u6559 {
  position:absolute;
  left:0px;
  top:14px;
  width:607px;
  word-wrap:break-word;
}
#u6560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6560 {
  position:absolute;
  left:48px;
  top:153px;
  width:136px;
  height:33px;
  font-size:28px;
}
#u6561 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  word-wrap:break-word;
}
#u6562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6562 {
  position:absolute;
  left:48px;
  top:196px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u6563 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6564 {
  position:absolute;
  left:48px;
  top:239px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u6565 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u6566 {
  position:absolute;
  left:48px;
  top:282px;
  width:150px;
  height:33px;
  font-size:28px;
}
#u6567 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6568 {
  position:absolute;
  left:48px;
  top:110px;
  width:150px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u6569 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u6570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1189px;
  height:50px;
}
#u6570 {
  position:absolute;
  left:261px;
  top:85px;
  width:1189px;
  height:50px;
}
#u6571 {
  position:absolute;
  left:2px;
  top:17px;
  width:1185px;
  visibility:hidden;
  word-wrap:break-word;
}
